.dashboard {
    .flex {
        display: flex;
        align-items: stretch;
    }

    .icon {
        text-align: center;
        margin: 0 1.5rem 0 0;
        background: white;
        padding: 1.5rem 1rem;
        border-radius: 0.25rem;
        min-width: 140px;
        display: block;
        text-transform: uppercase;
        font-size: 0.8rem;
        box-shadow: 0 0 0.25rem 0 fade-out(black, 0.9);
        transition: all 0.3s ease-in-out;

        &:hover {
            background: lighten($ui-menu-background, 10%);
            color: white;
        }

        .far {
            display: block;
            font-size: 2.5rem;
            margin-bottom: 0.75rem;
        }
    }
}
