.box {
    background: white;
    padding: 1.5rem;
    border-radius: 4px;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    .box-title {
        margin: 0;
        font-size: 1.125rem;
        padding: 0 0 0.75rem 0;
        font-weight: 400;

        &.underlined {
            position: relative;
            margin-bottom: 1.5rem;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 4rem;
                border-bottom: 2px solid $ui-tab-active-border;
            }
        }

        .far {
            margin-right: 10px;
        }
    }
}

.widget {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    .widget-title {
        margin: 0;
        @include font-size(16px);
        font-weight: 500;
        padding: 0 0 0.5rem 0;

        .far {
            margin-right: 10px;
        }
    }
}

.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }
}
