body {
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: inherit;
}

@include headings() {
    margin: 1rem 0;
    line-height: 1.2em;
}

p {
    margin: 1rem 0;
}

h1 {
    @include font-size(40px);
}

h2 {
    @include font-size(32px);
}

h3 {
    @include font-size(28px);
}

h4 {
    @include font-size(24px);
}

h5 {
    @include font-size(20px);
}

h6 {
    @include font-size(18px);
}

.intro {
    font-size: 1.5rem;
}

.sub-title {
    font-size: 1.25rem;
}

ol,
ul {
    padding: 0 0 0 1.5rem;
}

blockquote {
    margin: 2rem 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 1.125rem;
    line-height: 1.6;

    &:before {
        content: '';
        background: url(../img/quote.png) no-repeat;
        width: 60px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        z-index: -1;
        transform: translate(-50%, -50%);
    }

    cite {
        display: block;
        font-style: normal;
        border-left: 0.125rem solid white;
        padding-left: 1rem;
        line-height: 1.4;
    }
}
