@import "utils/functions";
@import "utils/mixins";
@import "utils/variables";
@import "utils/breakpoints";

@include fontface('TradeGothicLTPro', 'TradeGothicLTStd-Light', 400);
@include fontface('TradeGothicLTPro', 'TradeGothicLTPro-Bd2', 700);
@include fontface('TradeGothicLTPro', 'TradeGothicLTPro-BdCn20', 900);

.poster-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.poster-item {
    width: 20%;
    padding: 1rem;
    position: relative;
}

.poster-details {
    padding-top: 1rem;
    font-size: 0.88rem;

    .far {
        margin-left: 0.25rem;
    }
}

.poster-status {
    margin-top: 1.25rem;

    button {
        margin: 0 0.5rem 0 0;
    }
}

.edit-poster {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    background: white;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.poster-edit-screen {
    display: flex;
    align-items: flex-start;
    margin: 0 -1rem 1.5rem -1rem;

    .form {
        flex: 1;
        padding: 0 1rem;
    }

    h3 {
        margin-top: 0;
    }
}

.poster-preview {
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;

    @include breakpoint(from-desktop-mid) {
        width: 540px;
        height: 675px;
    }

    .poster-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .poster-frame {
        position: relative;
        z-index: 10;
    }
}

.frames {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -0.75rem;

    label {
        margin: 0 0.75rem 1.75rem 0.75rem;
        cursor: pointer;
        border: 0.25rem solid black;
        width: calc(20% - 1.5rem);

        &.active {
            border: 0.25rem solid #47bac1;
        }
    }

    input {
        display: none;
    }
}

.crop-box {
    display: flex;
    margin-bottom: 1.5rem;

    .preview {
        flex-shrink: 0;
    }

    .crop-holder {
        flex: 1;
        padding-right: 2rem;
    }
}
