.columns {
    margin-left: -2rem;
    margin-right: -2rem;

    @include breakpoint(from-desktop) {
        display: flex;
    }

    > .column {
        flex: 1;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .columns {
        margin-left: -1rem;
        margin-right: -1rem;

        > .column {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
