.status-bar {
    margin-top: 0.25rem;
    @include font-size(13px);
    color: #8a95a5;
    display: flex;
    justify-content: space-between;
}

.limitation {
    @include ulreset();
    display: flex;

    strong {
        font-weight: 500;
    }

    li {
        &:not(:first-child) {
            position: relative;
            padding-left: 1.5rem;
        }
    }
}