button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.125rem 0.5rem;

    &[disabled] {
        cursor: default;
        opacity: 0.6;
    }
}

.btn {
	display: inline-flex;
    padding: 0.625rem 1.25rem;
    border: 0.25rem solid #FFC20E;
    border-radius: 99rem;
    font-weight: 700;
    background: #FFC20E;
    color: #004B88;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 1em;
    text-transform: uppercase;

    &:hover {
        background: darken(#FFC20E, 10%);
        border-color: darken(#FFC20E, 10%);
        color: black;
    }

    /**
     * Colour Options
     */
    &.muted {
        background: #7c8ba6;
        border-color: #7c8ba6;

        &:hover {
            background: darken(#7c8ba6, 15%);
            border-color: darken(#7c8ba6, 15%);
        }
    }

    &.outline {
        border-color: #FFC20E;
        background: none;
        color: inherit;

        &:hover {
            background: #FFC20E;
            border-color: #FFC20E;
            color: black;
        }
    }

    &.danger {
        background: #d72121;
        border-color: #d72121;
        color: white;

        &:hover {
            background: darken(#d72121, 15%);
            border-color: darken(#d72121, 15%);
        }
    }

    /**
     * Size Options
     */
    &.full {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;

        + .btn.full {
            margin-top: 0.5rem;
        }
    }

    &.small {
        padding: 0.5rem 1rem;
        @include font-size(12px);
    }

    &.large {
        padding: 0.625rem 1.5rem;
        @include font-size(20px);
    }

    [class*="fa-"] {
        &:first-child {
            margin-right: 0.5em;
        }

        &:last-child {
            margin-left: 0.5em;
        }
    }
}

.btn-pill {
    background: white;
    border: 2px solid #d2dae2;
    color: $ui-font-secondary;
    @include font-size(16px);
    line-height: 1em;
    padding: 10px 16px;
    border-radius: 40px;
    display: inline-block;

    &:hover {
        background: #8a95a5;
        border-color: #8a95a5;
        color: white;
    }

    .far {
        margin-right: 8px;
    }
}

.btn-icon {
    @include circle(40px);
    background: white;
    border: 2px solid #d2dae2;
    color: $ui-font-secondary;
    @include font-size(16px);
    line-height: 1em;
    display: inline-block;
    position: relative;

    &:before {
        @include centered;
    }
}

.button {
    background: #00427a;
    color: white;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 99rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 21px;

    &:hover {
        background: black;
    }

    &.btn-yellow {
        background: #feb72b;
        color: black;

        &:hover {
            background: white;
        }
    }

    &.btn-small {
        font-size: 1rem;
        padding: 0.5rem 1.25rem;
    }

    &.icon-before {
        .far {
            margin-left: 0;
            margin-right: 6px;
        }
    }

    .far {
        margin-left: 6px;
    }
}
