input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
    @include placeholder() {
        color: $ui-form-font;
    }

    font-family: inherit;
    background: $ui-form-background;
    border: 1px solid $ui-form-border;
    padding: 0.625rem 1rem;
    display: block;
    line-height: 1rem;
    font-weight: 700;

    &[readonly] {
        background: lightgrey;
    }
}

textarea {
    resize: none;
    height: 10rem;
    line-height: 1.4em;
}

.form-field {
    + .form-field {
        margin-top: 1.5rem;
    }

    + .checkbox {
        margin-top: 2.5rem;
    }

    &.horizontal {
        display: flex;
        align-items: center;

        label {
            padding: 0 1rem 0 0;
            margin-bottom: 0;
        }

        input,
        textarea,
        select {
            margin-right: 0.75rem;
        }
    }

    &.field-key {
        justify-content: flex-end;

        input,
        textarea,
        select {
            margin-right: 0;
            padding: 0.5rem 0.75rem;
            border: none;
            border-radius: 0.25rem;
        }
    }

    &:not(.horizontal) {
        input,
        textarea,
        select {
            width: 100%;
        }
    }

    .label {
        padding: 0 0 0.5rem 0;
        line-height: 1em;

        label {
            margin-bottom: 0;
        }
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;

        .far {
            margin-right: 10px;
        }

        .required {
            color: #c14e47;
        }
    }

    .help {
        font-size: 0.8em;
        margin: 0.25rem 0.75rem 0 0.5rem;
        font-style: italic;
        text-align: right;
    }

    .instruction {
        @include font-size(14px);
        margin: 0.5rem 0 0 0;
    }

    .required {
        float: right;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 8px;
        opacity: 0.8;
        color: #c14e47;
    }
}

.form-checkbox {
    + .form-checkbox {
        margin-top: 0.75rem;
    }

    &.standalone {
        label {
            padding-left: 1.125rem;
        }
    }

    input {
        display: none;
    }

    input + label {
        &:before {
            content: "";
            @include pos($top: 1px);
            @include box(18px);
            border-radius: 3px;
            background: #6f7d95;
            font-family: $font-family-icons;
            color: white;
            font-size: 0.8rem;
            padding: 1px 0 0 3px;
            text-align: left;
        }
    }

    input:checked + label {
        &:before {
            content: "\f00c";
        }
    }

    label {
        position: relative;
        padding-left: 1.75rem;
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.form-radio {
    + .form-radio {
        margin-top: 0.75rem;
    }

    &.standalone {
        label {
            padding-left: 1.125rem;
        }
    }

    input {
        display: none;
    }

    input + label {
        &:before {
            content: "";
            @include pos();
            @include box(18px);
            border-radius: 99rem;
            background: #6f7d95;
            color: white;
            @include font-size(13px);
            padding: 0.125rem;
        }
    }

    input:checked + label {
        &:before {
            //
        }
    }

    label {
        position: relative;
        padding-left: 1.75rem;
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.form-group {
    display: flex;

    input,
    button {
        &:first-child {
            border-radius: 0.375rem 0 0 0.375rem;
        }

        &:last-child {
            border-radius: 0 0.375rem 0.375rem 0;
        }
    }
}
