.status-icon {
    display: inline-block;
    @include circle(12px);

    &.pending {
        background: none;
        border: 2px solid #6f7d95;
    }

    &.progress {
        background: #ffd507;
    }

    &.review {
        background: #2aafff;
    }

    &.incomplete {
        background: #c14e47;
    }

    &.complete {
        background: #00a989;
    }
}
