.steps {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 4rem 0 3rem 0;
    color: white;

    .step {
        flex: 1;
        position: relative;
        text-align: center;

        &.active {
            &:before,
            .num {
                background: #FFC20E;
            }
        }

        &.completed {
            &:before,
            &:after,
            .num {
                background: #FFC20E;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:before,
        &:after {
            content: '';
            width: 50%;
            height: 0.5rem;
            background: #676f72;
            position: absolute;
            bottom: 0.75rem;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        .label {
            font-size: 0.9rem;
            margin-bottom: 0.25rem;
        }

        .num {
            background: #676f72;
            color: white;
            width: 2rem;
            height: 2rem;
            margin: 0 auto;
            position: relative;
            z-index: 5;
            line-height: 2rem;
            border-radius: 99rem;
            font-size: 0.8125rem;
        }
    }
}
