.upload-box {
    border: 2px dashed fade-out(grey, 0.5);
    font-size: 1.125rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
    cursor: pointer;

    h3 {
        margin-bottom: 0;

        + p {
            margin: 0;
        }
    }

    .asset {
        background: #e6e6e6;
        width: 165px;
        height: 165px;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        margin: 0.5rem;

        &.uploading {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: fade-out(black, 0.3);
            }

            .preview {
                opacity: 0.5;
                color: white;
            }
        }

        &.selected,
        &.removing,
        &.error {
            position: relative;

            &:before {
                content: '\f00c';
                font-family: $font-family-icons;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: white;
                font-size: 32px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                text-align: center;
                line-height: 50px;
                box-shadow: 0 0 6px 0 fade-out(black, 0.5);
            }

            .preview {
                opacity: 0.8;
                box-shadow: inset 0 0 10px 0 fade-out(black, 0.5);
            }
        }

        &.selected {
            &:before {
                background: #00a989;
                content: '\f00c';
            }
        }

        .preview {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            z-index: 5;

            &:before {
                font-family: $font-family-icons;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                font-size: 80px;
            }

            .processing {
                position: absolute;
                top: 8px;
                right: 8px;
                color: #ffd507;
                font-size: 1.25rem;
            }
        }

    }

    .progress {
        width: calc(100% - 30px);
        height: 15px;
        border-radius: 40px;
        background: white;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 15;

        .bar {
            background: #00a989;
            height: 100%;
        }
    }
}
