.poster-wizard {
    .user-steps {
        flex: 1;

        .step-content {
            display: none;
            padding-bottom: 2rem;

            &.active {
                display: block;
            }
        }

        .step-title {
            margin-top: 0;
            font-family: $font-family-secondary;
            text-align: center;
        }
    }

    .form-field {
        input,
        textarea,
        select {
            background: none;
            border: 0.25rem solid #FFC20E;
            border-radius: 0;
            font-size: 1.125rem;
            padding: 0.75rem 1rem;
            color: inherit;
        }

        option {
            color: black;
        }

        &.choice {
            display: flex;
            align-items: center;

            select {
                width: auto;
                margin: 0 1.5rem;
                background: none;
                border: none;
                border-bottom: 0.25rem solid #FFC20E;
                border-radius: 0;
                font-size: 1.125rem;
                padding: 0.75rem 0.125rem;
                color: inherit;
            }
        }
    }

    .checkbox {
        input {
            display: none;
        }

        input:checked + label:before {
            content: '\f00c';
            font-family: $font-family-icons;
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
            line-height: 1.75rem;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 1.5rem 0;
            cursor: pointer;
            text-align: left;

            &:before {
                content: '';
                width: 2.25rem;
                height: 2.25rem;
                border: 0.25rem solid #FFC20E;
                margin-right: 1.5rem;
                flex-shrink: 0;
            }

            a {
                margin-left: 0.25rem;
                text-decoration: underline;
            }
        }
    }

    .story-input {
        width: 100%;
        height: 8rem;
    }

    .frames {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -0.75rem;

        label {
            margin: 0 0.75rem 1.75rem 0.75rem;
            cursor: pointer;
            border: 0.25rem solid transparent;
            width: calc(33.3333% - 1.5rem);

            &.active {
                border: 0.25rem solid yellow;
            }
        }

        input {
            display: none;
        }
    }

    .frame-selection {
        display: flex;
        margin: 1rem 0 2rem 0;
    }

    .selection {
        flex: 1;
        padding-right: 2rem;
        position: relative;
        overflow: hidden;
    }

    .poster-holder {
        flex-shrink: 0;
    }

    .poster-preview {
        height: 500px;
        width: 500px;
        position: relative;
        overflow: hidden;
        text-align: center;

        @include breakpoint(from-desktop-mid) {
            width: 540px;
            height: 675px;
        }

        .poster-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .poster-frame {
            position: relative;
            z-index: 10;
        }
    }

    .crop-box {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2rem);
        transition: all 0.5s ease-in-out;
        transform: translateX(110%);
        padding: 5px;

        &.active {
            transform: translateX(0);
        }
    }

    .errors {
        background: #C61D23;
        padding: 1rem 1.25rem;
        color: white;
        margin-bottom: 1.5rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            position: relative;
            padding-left: 1rem;

            &:before {
                font-family: $font-family-icons;
                content: "\f105";
                @include pos();
            }

            &:not(:first-child) {
                margin-top: 0.25rem;
            }
        }
    }
}
