.delete-btn {
    position: relative;
    outline: none;
    text-align: center;

    em {
        width: 1.125rem;

        &:before {
            content: '\f1f8';
        }
    }

    svg {
        position: absolute;
        top: -0.125rem;
        left: 50%;
        width: 26px;
        transform: translateX(-50%) rotate(-90deg);
    }

    &.active {
        .delete-indicator {
            animation: dash 1s linear;
        }

        em {
            opacity: 0;
        }
    }

    &.complete {
        .delete-indicator {
            stroke-dashoffset: 0;
            stroke: #c14e47;
        }

        em {
            opacity: 1;

            &:before {
                content: '\f00d';
            }
        }
    }
}

.delete-indicator {
    stroke-dasharray: 375;
    stroke-dashoffset: 375;
    stroke: #47bac1;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 375;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
