.row {
    display: flex;
    margin: 0 -1.5rem;

    + .row {
        margin-top: 2rem;
    }

    @media (max-width: 1024px) {
        display: block;
        margin: 0;
    }

    > div {
        padding: 0 1.5rem;
    }

    .content {
        @media (min-width: 1279px) {
            flex: 8;
        }

        @media (min-width: 1479px) {
            flex: 9;
        }

        @media (max-width: 1024px) {
            padding: 1px 0;
        }
    }

    .sidebar {
        @media (min-width: 1279px) {
            flex: 4;
        }

        @media (min-width: 1479px) {
            flex: 3;
        }

        @media (max-width: 1024px) {
            padding: 0;
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;

            .widget {
                order: -1;
                margin: 0 0 2rem 0;
            }
        }
    }

    .full {
        flex: 1;
    }

    .centered {
        text-align: center;
    }

    @for $i from 1 through 12 {
        .w#{$i} {
            flex: $i;
            padding: 0 1.5rem;
        }
    }
}
