.alert-errors,
.alert-success {
    color: white;
    padding: 1rem 0;
    @include font-size(15px);
    font-weight: 300;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    ul {
        @include ulreset;
    }

    li {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: 0.25rem;
        }
    }

    .far {
        font-size: 1.125rem;
        margin-right: 8px;
    }

    span {
        flex: 1;
    }

    .alert-label {
        margin: 0 0 0.5rem 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.alert-errors {
    background: #c14e47;

    ul {
        margin: 0 0 0 1rem;
    }

    .far {
        color: hsl(3, 50%, 92%);
    }
}

.alert-success {
    background: #00a989;

    .far {
        color: hsl(169, 100%, 92%);
    }
}
