.new-entry {
    position: relative;

    &.open {
        .entry-input {
            width: 20rem;
        }

        .new-action {
            opacity: 0;
        }
    }

    &.submit {
        .cancel-action {
            right: 3.125rem;
        }

        .create-action {
            width: 2.5rem;
        }
    }

    .entry-input {
        width: 1rem;
        transition: all 0.3s ease-in-out;
    }

    .new-action {
        position: absolute;
        top: 0;
        right: 0;
        white-space: nowrap;
    }

    .cancel-action {
        position: absolute;
        top: 50%;
        right: 0.625rem;
        transform: translateY(-50%);
        line-height: 1em;
        transition: all 0.3s ease-in-out;
    }

    .create-action {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        border: none;

        [class*="fa-"] {
            margin: 0;
        }
    }
}
