.pagination {
    @include ulreset();
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    font-size: 0.9rem;

    .page-item {
        &.active {
            > * {
                background: #354052;
                color: white;
            }
        }

        &.disabled {
            display: none;
        }

        > * {
            display: block;
            padding: 0.5rem 0.75rem;
            background: white;
        }
    }
}
