.section-header {
    background: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-weight: 400;
        margin: 0;
    }

    .details {
        @include ulreset;
        display: flex;
        color: $ui-font-secondary;
        margin-top: 12px;
        @include font-size(16px);
        font-weight: 300;

        strong {
            font-weight: 500;
        }

        li {
            margin-right: 25px;

            &.archived {
                .far {
                    @include font-size(16px);
                    margin-right: 5px;
                }
            }
        }
    }

    .sorting-options {
        display: flex;
        justify-content: flex-end;
        font-size: 1.25rem;

        a {
            display: block;
            padding: 0.25rem 0.5rem;

            &.active {
                background: #354052;
                color: white;
            }
        }
    }
}
