.timeline {
    @include font-size(14px);

    &:not(:first-child) {
        margin-top: 35px;
    }

    &:not(:last-child) {
        margin-bottom: 35px;
    }

    .feed {
        @include ulreset();
    }

    .headline {
        @include font-size(20px);
        font-weight: 500;
    }

    .entry {
        display: flex;
        position: relative;
        padding-bottom: 15px;

        &:before {
            content: "";
            position: absolute;
            left: 18px;
            top: 6px;
            background: $ui-body-background;
            width: 16px;
            height: calc(100% - 6px);
            transform: translateX(-50%);
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            left: 18px;
            top: 26px;
            background: white;
            width: 3px;
            height: calc(100% - 32px);
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    .icon {
        @include circle(36px);
        position: relative;

        &:before {
            content: "";
            @include cover();
            border: 4px solid white;
            @include circle(36px);
        }
    }

    .body {
        flex: 1;
        padding-left: 20px;
    }

    .card {
        @include clearfix();
        background: white;
        padding: 1px 16px;
        border-radius: 4px;
    }

    p {
        margin-bottom: 8px;
    }

    time {
        display: block;
        margin-bottom: 15px;
        text-align: right;
        font-style: italic;
        @include font-size(13px);
    }

    .view-all {
        display: block;
        text-align: right;
        padding: 8px 0;
        text-transform: uppercase;
        font-weight: 500;
    }
}
