.tooltip {
    position: fixed;
    display: none;
    background: #354052;
    color: $ui-font-secondary;
    padding: 8px 16px;
    max-width: 210px;
    border-radius: 4px;
    top: 0;
    left: 0;
    color: #d2dae2;
    @include font-size(13px);
    z-index: 50;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &.align-top:before,
    &.align-bottom:before {
        margin-left: -8px;
        left: 50%;
    }

    &.align-top:before {
        bottom: -8px;
        border-width: 8px 8px 0 8px;
        border-color: #354052 transparent transparent transparent;
    }

    &.align-bottom:before {
        top: -8px;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #354052 transparent;
    }
}
