.header {
    display: block;
    padding: 0em 2em;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-image: url('../img/clouds.jpg');
    background-size: cover;
    background-position: center;
}

.header .contained {
    margin: 0 auto;
    max-width: 1192px;
    width: 100%;
    display: block;
    float: none;
    position: relative;
    z-index: 1;
    position: relative;
}

.header .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%);
    z-index: 12;
}

.header .shield {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    width: 100%;
    height: 100%;
    background-image: url('../img/shield-outline-gold.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 20;
    margin-top: 2em;
}

.header .slider {
    height: 400px;
    margin-top: 3em;
    margin-bottom: 0em;
    text-align: center;
    position: relative;
}

.header .caption {
    font-weight: 900;
    line-height: 100px;
    letter-spacing: -4px;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    z-index: 10;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;
    width: 100%;
}

.header .caption .center-text {
    flex: 0 0 400px;
}

.header .caption .center-text div {
    position: absolute;
    bottom: -500px;
    opacity: 0;
    animation-timing-function: ease;
    left: 0;
    right: 0;
}

.header .caption span {
    flex: 0 1 auto;
    width: 33%;
}

.header .caption .left-text {
    text-align: right;
    margin-right: 10px;
}

.header .caption .right-text {
    text-align: left;
    margin-left: 10px;
}

.header .center-text div:nth-child(1) {
    animation: rollDown 20s forwards infinite;
}

.header .center-text div:nth-child(2) {
    animation: rollDown2 20s forwards infinite;
}

.header .center-text div:nth-child(3) {
    animation: rollDown3 20s forwards infinite;
}

.header .center-text div:nth-child(4) {
    animation: rollDown4 20s forwards infinite;
}

.header .center-text div:nth-child(5) {
    animation: rollDown5 20s forwards infinite;
}

@keyframes rollDown {
    0% {
        bottom: -1500px;
    }

    2% {
        bottom: -500px;
        opacity: 0.7;
    }

    7% {
        bottom: 0px;
        opacity: 1;
    }

    14% {
        bottom: 0px;
        opacity: 1;
    }

    18% {
        bottom: 100px;
        opacity: 0;
    }

    20% {
        bottom: 1500px;
        opacity: 0;
    }
}

@keyframes rollDown2 {
    20% {
        bottom: -1500px;
    }

    22% {
        bottom: -500px;
        opacity: 0.7;
    }

    28% {
        bottom: 0px;
        opacity: 1;
    }

    34% {
        bottom: 0px;
        opacity: 1;
    }

    38% {
        bottom: 100px;
        opacity: 0;
    }

    40% {
        bottom: 1500px;
        opacity: 0;
    }
}

@keyframes rollDown3 {
    40% {
        bottom: -1500px;
    }

    42% {
        bottom: -500px;
        opacity: 0.7;
    }

    47% {
        bottom: 0px;
        opacity: 1;
    }

    54% {
        bottom: 0px;
        opacity: 1;
    }

    58% {
        bottom: 100px;
        opacity: 0;
    }

    60% {
        bottom: 1500px;
        opacity: 0;
    }
}

@keyframes rollDown4 {
    60% {
        bottom: -1500px;
    }

    62% {
        bottom: -500px;
        opacity: 0.7;
    }

    67% {
        bottom: 0px;
        opacity: 1;
    }

    74% {
        bottom: 0px;
        opacity: 1;
    }

    78% {
        bottom: 100px;
        opacity: 0;
    }

    80% {
        bottom: 1500px;
        opacity: 0;
    }
}

@keyframes rollDown5 {
    80% {
        bottom: -1500px;
    }

    82% {
        bottom: -500px;
        opacity: 0.7;
    }

    87% {
        bottom: 0px;
        opacity: 1;
    }

    94% {
        bottom: 0px;
        opacity: 1;
    }

    98% {
        bottom: 100px;
        opacity: 0;
    }

    100% {
        bottom: 1500px;
        opacity: 0;
    }
}

@media only screen and (max-width: 900px) {
    .header .slider {
        margin-top: 2em;
        height:300px;
    }

    .header .caption {
        font-size:2rem;
    }

    .header .caption .center-text {
        flex: 0 0 250px;
    }

    .header .shield {
        width:250px;
    }
}
