.container {
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1230px) {
        width: 100%;
        padding: 0 1.25rem;
    }
}

.header {
    height: 4rem;
    background: $ui-header-background;
    box-shadow: 0 0 4px 0 fade-out(black, 0.5);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo {
        display: block;
        text-transform: uppercase;
        @include font-size(20px);
        letter-spacing: 3px;
        color: $ui-nav-primary;
    }
}

.main-content {
    padding-top: 4rem;
}

.project-title {
    background: white;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        margin: 0;
        font-weight: 400;
    }
}

.project-body {
    padding: 2rem 0;

    .row {
        display: flex;

        @media (max-width: 1230px) {
            display: block;
        }
    }

    .content {
        flex: 8;
        padding-right: 1rem;

        @media (max-width: 1230px) {
            padding: 1.5rem 0 0 0;
        }
    }

    .sidebar {
        flex: 4;
        order: 1;
        padding-left: 1rem;

        @media (max-width: 1230px) {
            padding: 0;
        }
    }
}

.legend {
    @include ulreset();
    display: flex;
    margin-top: 1rem;
    @include font-size(14px);

    li {
        margin-right: 1rem;
    }

    .status-icon {
        margin-right: 0.5rem;
    }
}
