<template>
    <input type="text" ref="input">
</template>

<script>
import Datepicker from 'pikaday';

export default {
    data() {
        return {
            picker: '',
        };
    },

    mounted() {
        this.picker = new Datepicker({
            field: this.$refs.input,
        });
    },
};
</script>
