<template>
    <button type="button" class="delete-btn" ref="button">
        <em class="far" aria-hidden="true" :title="title"></em>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 130">
            <circle class="delete-indicator" fill="none" stroke-width="10" stroke-miterlimit="10" cx="65" cy="65" r="60" />
        </svg>

        <form :action="action" method="post" class="hidden" ref="form">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" :value="csrf">
        </form>
    </button>
</template>

<script>
export default {
    props: ['action', 'title'],

    data() {
        return {
            csrf: '',
            timeout: null,
        };
    },

    methods: {
        activate(e) {
            const event = e || window.event;
            const button = event.which || event.button;

            if (button !== 1) {
                return;
            }

            this.$refs.button.classList.add('active');

            this.timeout = setTimeout(() => {
                this.$refs.button.classList.remove('active');
                this.$refs.button.classList.add('complete');

                this.$refs.form.submit();
            }, 1000);
        },
        deactivate() {
            this.$refs.button.classList.remove('active');
            clearTimeout(this.timeout);
        },
    },

    mounted() {
        this.csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        this.$refs.button.addEventListener('mousedown', this.activate);
        this.$refs.button.addEventListener('mouseup', this.deactivate);
    },
};
</script>
