<template>
    <div class="dialog" v-show="show">
        <div class="dialog-body">
            <div class="dialog-header">
                <h4 class="dialog-title">{{ heading }}</h4>
                <button type="button" class="dialog-close" @click="cancel">
                    <em class="far fa-times"></em>
                </button>
            </div>
            <div class="dialog-content">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['show', 'heading'],

    data() {
        return {
            //
        };
    },

    methods: {
        cancel() {
            this.$emit('close');
        },
    },
};
</script>
