<template>
    <form method="post" class="new-entry"
        ref="form"
        :action="action"
        :class="{
            submit: canSubmit,
            open: isOpen,
        }"
        @submit="submitForm"
    >
        <input type="hidden" name="_token" :value="csrf">
        <input type="text" class="entry-input"
            ref="input"
            :name="name"
            :placeholder="placeholder">
        <button type="submit" class="btn create-action">
            <em class="fal fa-check" aria-hidden="true"></em>
        </button>
        <button class="cancel-action" type="button" @click="closeInput">
            <em class="fal fa-times" aria-hidden="true"></em>
        </button>
        <button class="btn new-action" :class="{ hidden: newButtonHidden }" type="button" @click="openInput">
            <em class="far fa-plus" aria-hidden="true"></em>
            <slot></slot>
        </button>
    </form>
</template>

<script>
export default {
    props: [
        'action',
        'placeholder',
        'name',
    ],

    data() {
        return {
            csrf: '',
            canSubmit: false,
            isOpen: false,
            newButtonHidden: false,
        };
    },

    methods: {
        openInput() {
            this.isOpen = true;
            this.$refs.input.focus();

            setTimeout(() => {
                this.newButtonHidden = true;
            }, 300);
        },

        closeInput() {
            this.newButtonHidden = false;

            setTimeout(() => {
                this.isOpen = false;
            }, 10);

            setTimeout(() => {
                this.$refs.input.value = '';
                this.canSubmit = false;
            }, 300);
        },

        submitForm(e) {
            if (this.$refs.input.value.length === 0) {
                e.preventDefault();
            }
        },
    },

    mounted() {
        this.csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        this.$refs.input.addEventListener('keyup', (event) => {
            this.canSubmit = this.$refs.input.value.length > 0;

            if (event.keyCode === 27) {
                this.closeInput();
            }
        });
    },
};
</script>
