.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;

    @include breakpoint(from-tablet) {
        width: 720px;
        padding: 0;
    }

    @include breakpoint(from-desktop) {
        width: 960px;
    }

    @include breakpoint(from-desktop-mid) {
        width: 1170px;
    }
}

.main-content {
    padding-top: 4rem;
}

.project-title {
    background: white;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        margin: 0;
        font-weight: 400;
    }
}

.project-body {
    padding: 2rem 0;

    .row {
        display: flex;

        @media (max-width: 1230px) {
            display: block;
        }
    }

    .content {
        flex: 8;
        padding-right: 1rem;

        @media (max-width: 1230px) {
            padding: 1.5rem 0 0 0;
        }
    }

    .sidebar {
        flex: 4;
        order: 1;
        padding-left: 1rem;

        @media (max-width: 1230px) {
            padding: 0;
        }
    }
}

.legend {
    @include ulreset();
    display: flex;
    margin-top: 1rem;
    @include font-size(14px);

    li {
        margin-right: 1rem;
    }

    .status-icon {
        margin-right: 0.5rem;
    }
}

.thank-you {
    padding: 4rem 0;
    color: white;
    text-align: center;
}
