.share-screen {
    @include headings() {
        font-family: $font-family-secondary;
    }

    .social-icons {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        font-size: 1.75rem;
        margin: 1.125rem 0 3rem 0;
    }

    .poster {
        max-width: 300px;
        border: 0.25rem solid white;
        margin-bottom: 1.5rem;
    }
}
