.bg-white {
    background: white;
}

.bg-blue {
    background: #00427a;
}

.bg-yellow {
    background: #feb72b;
}

.bg-purple {
    background: #612989;
}

.has-background {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;

    @include breakpoint(from-desktop) {
        margin-top: 0;
    }
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}
