.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-1\/2 {
    @include breakpoint(from-desktop) {
        width: 50%;
    }
}

.w-1\/3 {
    @include breakpoint(from-desktop) {
        width: 33.3333%;
    }
}

.w-2\/3 {
    @include breakpoint(from-desktop) {
        width: 66.6666%;
    }
}

.w-1\/4 {
    @include breakpoint(from-desktop) {
        width: 25%;
    }
}

.w-3\/4 {
    @include breakpoint(from-desktop) {
        width: 75%;
    }
}
