.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-blue {
    color: #00427a;
}

.text-yellow {
    color: #feb72b;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.text-md {
    font-size: 1.25rem;
}

.text-large {
    font-size: 1.5rem;
}

.title-xsmall {
    @include scaleAttr(font-size, 2rem, 0.125rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}

.title-small {
    @include scaleAttr(font-size, 2.25rem, 0.25rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}

.title-normal {
    @include scaleAttr(font-size, 2.5rem, 0.25rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}

.title-medium {
    @include scaleAttr(font-size, 2.75rem, 0.25rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}

.title-large {
    @include scaleAttr(font-size, 3rem, 0.25rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}

.title-xlarge {
    @include scaleAttr(font-size, 3.25rem, 0.25rem, 1.25rem);
    font-weight: 900;
    line-height: 1.1em;
}
