// Defaults
$max-width                 : 100%;
$max-container             : 100rem;
$fa-font-path              : '../fonts';

// Font Sizes
$font-size-base            : 16px;

// Font Families
$font-family-primary       : "TradeGothicLTPro", sans-serif;
$font-family-story         : "TradeGothicLTPro", sans-serif;
$font-family-secondary     : "TradeGothicLTPro", sans-serif;
$font-family-icons         : "Font Awesome 5 Pro";

// Site Components
$ui-header-background      : #354052;
$ui-menu-background        : $ui-header-background;
$ui-submenu-background     : #2480cd;
$ui-body-background        : #004B88;
$ui-table-background       : #3a3e52;

// Fonts
$ui-font-primary           : #4e515e;
$ui-font-secondary         : #8a95a5;
$default-text-color        : $ui-font-primary;

// Form Elements
$ui-form-background        : #ffffff;
$ui-form-font              : #9ca1b2;
$ui-form-border            : fade-out(#7c8ba6, 0.5);

// Navigation
$ui-nav-primary            : white;
$ui-nav-secondary          : #a0acbf;
$ui-nav-active-bg          : #303949;
$ui-nav-active-border      : #15a4fa;

// Social Media
$ui-social-facebook        : #3b5998;
$ui-social-twitter         : #55acee;
$ui-social-instagram       : #8a3ab9;
$ui-social-linkedin        : #007bb5;
$ui-social-youtube         : #bb0000;

// Tabs
$ui-tab-heading-bg         : white;
$ui-tab-heading-text       : $ui-font-secondary;
$ui-tab-active-border      : #15a4fa;
$ui-tab-active-text        : $ui-font-primary;
